 <properties>
        <property name="jakarta.persistence.jdbc.driver" value="org.postgresql.Driver"/>
        <property name="jakarta.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/mydatabase"/>
        <property name="jakarta.persistence.jdbc.user" value="myuser"/>
        <property name="jakarta.persistence.jdbc.password" value="mypassword"/>

        <!-- Hibernate specific properties (if using Hibernate) -->
        <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
        <property name="hibernate.hbm2ddl.auto" value="update"/> <!-- or create, validate, none -->
        <property name="hibernate.show_sql" value="true"/>
        <property name="hibernate.format_sql" value="true"/>
    </properties>